<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!-- <listeners>
    <listener 
         class-name="com.qa.hotel.ExtentReportListener.ExtentReporterNG">
    </listener>
</listeners> -->
	<test thread-count="5" name="Test">
	<parameter name="url" value="https://login.yahoo.com/"/>
	<parameter name="emailid" value="smohitbhal"/>
		<classes>

			<class name="com.qa.hotel.test.LoginPageTest" />
			<!-- <class name="com.qa.hotel.test.RegisterPageTest" /> -->
			<!-- <class name="com.qa.com.practise.qa.ParameterTest" /> -->


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
